#selfie{
    position: absolute;
    border-radius: 10px;
    height:45%;
    top: 25%;
    left:10%;
}
#games{
    position: absolute;
    height:25%;
    top: 25%;
    left: 45%;
}
#magic{
    position: absolute;
    height:25%;
    top: 25%;
    right: 15%;
}
#frisbee{
    position: absolute;
    height:25%;
    top: 45%;
    left:30%;
}
#friends{
    position: absolute;
    height:25%;
    top: 47%;
    right: 25%;
}
#whitechapel{
    border-radius: 10px;
    position: absolute;
    top:20%;
    left: 12%;
    height: 40%;
    opacity: 1;
    z-index: 2;
}
#whitechapel:hover{
    opacity: 0.3;
}
#whitechapelText{
    position: absolute;
    text-align: center;
    font-size: 72px;
    left: 16%;
    top: 24%;
    width: 400px;
}
#darwnism{
    border-radius: 10px;
    position: absolute;
    height: 25%;
    top: 62%;
    left: 69%;
    z-index: 2;
}
#darwnism:hover{
    opacity: 0.3;
}
#darwnismText{
    position: absolute;
    text-align: center;
    font-size: 48px;
    width: 400px;
    left: 71%;
    top: 70%;
}
#gonutz{
    border-radius: 10px;
    position: absolute;
    height: 25%;
    top: 62%;
    z-index: 2;
}
#gonutz:hover{
    opacity: 0.3;
}
#gonutzText{
    position: absolute;
    font-size: 48px;
    left: 5%;
    top: 71%;
}
#bloggins{
    border-radius: 10px;
    position: absolute;
    height: 25%;
    top: 62%;
    left: 35%;
    z-index: 2;
}
#bloggins:hover{
    opacity: 0.3;
}
#blogginsText{
    position: absolute;
    font-size: 48px;
    left: 39.2%;
    top: 71%;
}
#editor{
    border-radius: 10px;
    position: absolute;
    height: 40%;
    left: 50.5%;
    top: 20%;
    z-index: 2;
}
#editor:hover{
    opacity: 0.3;
}
#editorText{
    position: absolute;
    font-size: 48px;
    text-align: center;
    left: 51.5%;
    top: 27%;
    width: 210px;
}
#jate{
    border-radius: 10px;
    position: absolute;
    height: 40%;
    left: 70%;
    top: 20%;
    z-index: 2;
}
#jate:hover{
    opacity: 0.3;
}
#jateText{
    position: absolute;
    font-size: 48px;
    text-align: center;
    width: 200px;
    left: 76.5%;
    top: 25%;
}
#skillsList{
    position: relative;
    top: 120px;
    left: 40%;
}
#below-pics{
    position: relative;
    top:550px;
}
#messageForm{
    text-align: left;
    vertical-align: top;
    height: 200px;
    padding-bottom:160px;
}
#me{
    color: blue;
    position: absolute;
    font-size: 32px;
    left: 20px;
    top: -5px;
}
#Bootstrap{
    position: relative;
    width: 10%;
    left:60%;
    bottom: 460px;
}
#materialize{
    position: relative;
    width: 15%;
    left:47.5%;
    bottom: 280px;
}
#MERN{
    position: relative;
    width: 30%;
    left:10%;
    bottom: 100px;
}
#SQL{
    position: relative;
    width: 20%;
    right: 25%;
    bottom: 300px;
}
#languages{
    position: relative;
    width: 20%;
    right:45%;
    bottom: 500px;
}
#root{
    font-family:'Quicksand', serif;
}
.nav{
    justify-content: right;
}
.pageHeader{
    color: blue;
    position: relative;
    margin-left: 62%;
    font-size: 56px;
}
.btn-primary{
    position: relative;
    left: 5%;
}
p{
    position: relative;
    text-align: center;
    left: 20%;
}
form{
    position: relative;
    margin-top: 10%;
    left: 18%;
    text-align: center;
}
footer{
    position: absolute;
    left: 45%;
    top: 90%;
}
/* media queries still need to be added, lack of mobile responsiveness */