#selfie{
    position: absolute;
    height:45%;
    top: 25%;
}
#games{
    position: absolute;
    height:45%;
    top: 25%;
}
#magic{
    position: absolute;
    height:45%;
    top: 25%;
}
#frisbee{
    position: absolute;
    height:45%;
    top: 25%;
}
#friends{
    position: absolute;
    height:45%;
    top: 25%;
}
footer{
    position: absolute;
    left: 50%;
    top: 95%;
}
#below-pics{
    position: absolute;
    top:80%;
}